page-offer {
		
   	 .header{
        font-size: 15px;
        color: white;
        font-weight: bold;
   	 	 .button{
   	 	float: right;
   	 	font-size: 14px;
   	 	color: white;
   	 	padding: 5px;
   	 	background-color: transparent;
   	  }
   	 }
   	 .viewQuot{
   	 	background-color: color($colors, headerColor);
   	 	color: white;
   	 	padding:5px;
   	 	float: right;
   	 	font-weight: bold;
   	 	border-radius: 5px;
   	 	font-size: 12px;
   	 }
}
