page-docs {

 	.list1{
 		font-family: arial;
 		display: inline-block;
 		list-style: none;
 		font-size: 16px;
 		padding:0px;
	 		li{
	 		margin-bottom:5px;
	 	}
 	}
 	.info{
 		 float: right;
 		 font-size: 14px;
 		 font-weight: bold;
 	}
 	.readInstr{
 		padding:5px;
 		background-color: transparent;
 		font-size: 16px;
 		color:deepskyblue;
 	}
 	#inputSerial{
 		float: right;
 		border: none; 
 		border-bottom: 2px solid lightgrey;
 	}
 	.inputLpo{
 		border: none;
 		border-bottom: 2px solid lightgrey;
 		width: 400px;
 	}
 	
 	.textarea{
 		border:1px solid lightgrey;
 		resize:none;
 		margin-top: 10px;
 		height: 100px;
 	}
 	ol{
 		li{
 			margin-bottom: 5px;
 		}

 	}
 	.input{
 		background-color: white;
 		width:150px;
 		margin: 0px;
 		border: 1px solid lightgrey;
 		height: 20px;
 	}
 	.input1{
 		background-color: white;
 		width:75px;
 		height: 20px;
 		margin: 0px;
 		border: 1px solid lightgrey
    
 	}
 	.over{
 		display: inline-block;
 		overflow: auto;
 		height:20px;
 		position: relative;
 		top:5px;
 	}
 	.over0{
 		display: inline-block;
 		overflow: auto;
 		height:20px;
 		position: relative;
 		top:-2px;
 	}
 	.Yes{
 		background-color: #750481;
 		color:white;
 		border-radius: 10px;
 		margin-left: 10px;
 		margin-right: 10px;
 		font-size:16px;
 		padding-right: 10px;
 		padding-left: 10px;
 	}
 	.input2{
 		border:none;
 		border-bottom: 1px solid grey;
 		width: 170px;
 	}
 	.addItem{
 		font-size: 14px;
 		background-color: deepskyblue;
 		padding-left:10px;
 		padding-right:10px;
 		padding-top: 5px;
 		padding-bottom: 5px;
 		color:white;
 		font-weight: bolder;
 		margin:5px;
 		border-radius: 5px;
 	}
 	.No{
 		background-color: transparent;
 		border: 1px solid #750481;
 		color: #750481;
 		border-radius: 15px;
 		padding-right: 10px;
 		padding-left: 10px;
 		font-size:16px;

 	}
 	.tableTitle{
 		display: inline-block;
 	}
 	.scrollmenu {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 5px;
}
}
