<ion-menu type="overlay" [content]="content" *ngIf="accountInfo">

  <ion-toolbar color="headerColor">
    <ion-title>Swiftify</ion-title>
  </ion-toolbar>

  <ion-content class="appSideMenu" >
   
     	<div *ngIf="accountInfo" style="text-align: center;padding-top: 50px">
        <div>
    	  	<img src="{{provider.profilePic}}" id="profileImg" imageViewer/>
        </div>
        <div >
           <button class="regBtn" (click)="provider.action()" style="background-color: transparent;border: none;margin-bottom: 0px">
              <ion-icon name="brush" style="color: DarkGray ;"></ion-icon>Change picture
          </button>
        </div>
        <div >
    	  	<span id="businessName">{{accountInfo.businessName}}</span>
        </div>
    	  	<div class="cont">Email: <span class="appvalue">{{accountInfo.email}}</span></div>
    	  	<div *ngIf="accountInfo.phone" class="cont">Phone: <span class="appvalue">+254{{accountInfo.phone}}</span></div>
    	  	<div class="cont" style="text-align: center;">
    	  		<button class="editBtn" (click)="toggleList()">
      	  		<ion-icon name="brush" style="color: DarkGray ;"></ion-icon> Edit profile
      	  	</button>
          </div>
          <ion-list class="updateInpts">
            <ion-item no-lines *ngFor="let input of inputs">
              <ion-label stacked style="color:darkgrey">{{input.title}}</ion-label>
              <ion-input type="{{input.type}}" [(ngModel)]=input.ngBind class="inputApp"></ion-input>
            </ion-item>
               <button (click)="updateValue()" class="regBtn" style="margin-top: 20px;">Update</button>
          </ion-list>
        </div>
        <div *ngFor="let p of pages let q = index"  style="margin-top: 20px;">
          <button menuClose style="margin-left: 20px; font-weight:lighter; background-color: transparent;font-size:16px;color: white;"  (click)="openPage(p)">
            <ion-icon style="color: DarkGray ;font-size: 20px; margin-right: 25px;" name="{{p.icon}}"></ion-icon>
            {{p.title}}
            <span *ngIf="q == 0 &&  provider.notifications > 0" class="unreadTexts2">{{provider.notifications}}</span>
          </button>
      </div>
      <div>
      	<div class="others">Other documents</div>
      	  <div *ngFor="let p of pages2"  style="margin-top: 20px; margin-left: 20px">
          <button menuClose style="margin-left: 20px;background-color: transparent;font-size:16px;color: DarkGray;"  (click)="openPage(p)">
            <ion-icon style="color: grey ;font-size: 20px; margin-right: 25px;" name="{{p.icon}}"></ion-icon>
            {{p.title}}
          </button>
      </div>
      <div style="margin-bottom: 20px">
          <button class="signOutBtn" menuClose (click)="signedOut()">
            <ion-icon name="log-out"></ion-icon>
            Sign out
          </button><br/>
      </div>
      <div *ngIf="!registration && (!provider.supplier || provider.supplier.status =='')" style="text-align: center;margin-top:20px;">
        <button (click)="registration = true" class="regBtn">Register as a supplier</button>
      </div>
       <div *ngIf="provider.supplier && provider.supplier.status == 'pending'" style="text-align: center;margin-top:20px;">
        <button  class="regBtn">Pending supplier registration</button>
      </div>
      <div *ngIf="registration && provider.supplier.status !=='pending' && provider.supplier.status !=='approved' && provider.supplier.status !=='suspended'" id="regDivSupp" style="margin-top: 10px;width: 100%; margin-bottom: 20px;">
        <div class="spReg" >Supplier registration</div>
        <div class="spReg1"><span style="color:red; font-size:17px">* </span>You need to upload these files for verification</div><br/>
        <div>
             <div class="docReg" *ngFor="let doc of docs let x = index">
               <span>{{x+1}}. {{doc.title}}</span>
               <button (click)="provider.upload(doc.title)"><ion-icon name="attach"></ion-icon></button><br/>
             </div>
        </div>
        <div style="text-align: center;"><button ion-button style="background-color: transparent;color: white; font-size: 16px" (click)="registration =  false">Cancel</button></div>
      </div>
    </div>
  </ion-content>
</ion-menu>
<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

