
<ion-header>
  <ion-navbar color="headerColor">
     <div id="header">
     	<span>{{doc}}</span>
     	<button *ngIf="doc == 'Quotations' " (click)="createDoc()">Create</button>
     </div>
  </ion-navbar>

</ion-header>


<ion-content  style="background-color: white" >
	<ion-grid style="margin:0px;padding:0px;height:100%">
		<ion-row style="height:100%;">
			<ion-col style="margin:0px;padding:0px;" class="colHeight">
			    <div  *ngIf="docs.length == 0" class="warn">
				    <span style="color:grey;font-size:30px;">Oops!!</span><br/>
				     <span style="color:grey;font-size:13px;">You don't have any 
				    {{doc}} at the moment</span>
				</div>
				<ion-list class="list" *ngIf="docs.length !== 0">
					<div *ngFor="let doc of docs" >
						<ion-item *ngIf="type !== 'LPOs' && type !== 'Invoices' && type !='Notifications' "  (click)="goToRequest(doc, type)">
								<div class="userImg">
									<img src="{{provider.url+'/'+doc.from.pic}}">
								</div>
								<div class="details">
									<span class="name">{{doc.from.name}}</span>
									<span class="time">{{provider.changeDate(doc.dateCreated)}}</span>
									<div class="text">
										{{doc.note}}
									</div>
								</div>
						</ion-item>
						<ion-item  *ngIf="type =='Notifications' && doc.read ==false "  (click)="goTo(doc)" class="notify" >
								<div class="userImg">
									<img src="{{provider.url+'/'+doc.from.pic}}">
								</div>
								<div class="details">
									<span class="name">{{doc.from.name}}</span>
									<span class="time">{{provider.changeDate(doc.dateCreated)}}</span>
									<div class="text">
										{{doc.note}}
									</div>
								</div>
						</ion-item>
						<ion-item  *ngIf="type =='Notifications'  && doc.read == true "  (click)="goTo(doc)">
								<div class="userImg">
									<img src="{{provider.url+'/'+doc.from.pic}}">
								</div>
								<div class="details">
									<span class="name">{{doc.from.name}}</span>
									<span class="time">{{provider.changeDate(doc.dateCreated)}}</span>
									<div class="text">
										{{doc.note}}
									</div>
								</div>
						</ion-item>
					<ion-item *ngIf="type == 'LPOs' "  (click)="goToLPO(doc)">
						<div class="att">Serial No. <span  class="value">{{doc.serial}}</span></div>
						<div class="att">Created on <span  class="value">{{doc.info[0].dor}}</span></div>
					</ion-item>
					<ion-item *ngIf="type == 'Invoices' "  (click)="goToInvoice(doc)">
						<div class="att">Serial No. <span  class="value">{{doc.serial}}</span></div>
						<div class="att">Created on <span  class="value">{{provider.changeDate(doc.dateCreated)}}</span></div>
					</ion-item>

				</div>
				</ion-list>
		    </ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
